In [77]:
from sqlalchemy import create_engine
import pandas as pd

server = 'LAPTOP-MJSKGTL4\SQLEXPRESS'
database = 'Inventory'

# Create SQLAlchemy engine (Windows Authentication)
engine = create_engine(f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")

# Query using SQLAlchemy engine
df = pd.read_sql("SELECT * FROM vendor_sales_summary", engine)

In [78]:
df = df.sort_values(by='TotalPurchaseDollars', ascending=False)
df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalDollars,TotalExciseTax,FreightCOst
9994,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68
4481,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24
6249,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22
6428,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.95,200412.0,420050.01,4475972.88,368242.80,257032.07
2952,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023205.99,135838.0,545778.28,4223107.62,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,10.96,15.95,0.55,27100.41
6843,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,134.0,1.47,65.66,7.04,50293.62
3281,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2.0,0.99,1.98,0.10,14069.87
4999,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,72.0,77.61,143.28,15.12,257032.07
8306,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,33.66,85.14,4.46,38994.78

In [79]:
df.rename(columns={'FreightCOst':'FreightCost'}, inplace=True)

This query generates a vendor-wise sales and purchase summary, which is valuable for 

**Performance Optimization**
  * The query involves heavy joins and aggregated on large dataset like sales and purchases.
  * storing the pre-aggregated result avoid repeative expensive computation.
  * Helps in analyzing sales, purchases and pricing for different vendors and brands.
  * Future benofots for storing this data for faster Dashboarding and Reporting.
  * Instead for running expensive query each time , dashboard can fetch data quickly from vendor_sales_summary.

# checking incosistency and null values, Adding new col

In [80]:
df.dtypes # if any inconsistent data tyoe present we can change with astype() function ex - Volume obj to float64

VendorNumber              int64
VendorName               object
Brand                     int64
Description              object
PurchasePrice           float64
ActualPrice             float64
Volume                   object
TotalPurchaseQantity      int64
TotalPurchaseDollars    float64
TotalSalesQuantity      float64
TotalSalesPrice         float64
TotalDollars            float64
TotalExciseTax          float64
FreightCost             float64
dtype: object

In [81]:
df.isnull().sum() # for null values we can use fillna(0,inplace = True) function

VendorNumber              0
VendorName                0
Brand                     0
Description               0
PurchasePrice             0
ActualPrice               0
Volume                    0
TotalPurchaseQantity      0
TotalPurchaseDollars      0
TotalSalesQuantity      178
TotalSalesPrice         178
TotalDollars            178
TotalExciseTax          178
FreightCost               0
dtype: int64

In [82]:
df['VendorName'].unique()  #vandor names has white spaces at the end

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [83]:
df['Volume']=df['Volume'].astype('float64')

In [84]:
df['VendorName']=df['VendorName'].str.strip()

In [85]:
df.fillna(0, inplace = True)

In [86]:
df.isnull().sum()

VendorNumber            0
VendorName              0
Brand                   0
Description             0
PurchasePrice           0
ActualPrice             0
Volume                  0
TotalPurchaseQantity    0
TotalPurchaseDollars    0
TotalSalesQuantity      0
TotalSalesPrice         0
TotalDollars            0
TotalExciseTax          0
FreightCost             0
dtype: int64

In [87]:
df['GrossProfit'] = round(df['TotalDollars'] - df['TotalPurchaseDollars'],2)

In [88]:
df['ProfitMargin'] = round((df['GrossProfit']/df['TotalDollars'])*100,2) #in percent

In [89]:
df['StockTurnover'] =  round(df['TotalSalesQuantity']/df['TotalPurchaseQantity'],2)

In [90]:
df['SalesToPurchaseRatio']  = round(df['TotalDollars']/ df['TotalPurchaseDollars'],2)

In [91]:
import numpy as np

# Replace inf and -inf with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Replace NaN in float columns with 0 (or appropriate default)
float_cols = df.select_dtypes(include=['float64']).columns
df[float_cols] = df[float_cols].fillna(0)

In [92]:
df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
9994,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.30,0.98,1.34
4481,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.06,0.98,1.27
6249,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.68,1.00,1.33
6428,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.95,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.93,27.14,0.99,1.37
2952,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023205.99,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.63,28.41,0.98,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,10.96,15.95,0.55,27100.41,13.31,83.45,2.50,6.04
6843,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134.0,1.47,65.66,7.04,50293.62,63.32,96.44,22.33,28.06
3281,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2.0,0.99,1.98,0.10,14069.87,0.50,25.25,1.00,1.34
4999,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72.0,77.61,143.28,15.12,257032.07,141.81,98.97,72.00,97.47
8306,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,33.66,85.14,4.46,38994.78,84.43,99.17,86.00,119.92

In [93]:
cursor = engine.connect()

In [94]:
df.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQantity', 'TotalPurchaseDollars',
       'TotalSalesQuantity', 'TotalSalesPrice', 'TotalDollars',
       'TotalExciseTax', 'FreightCost', 'GrossProfit', 'ProfitMargin',
       'StockTurnover', 'SalesToPurchaseRatio'],
      dtype='object')

In [95]:
cursor.execute("drop table new_vendor_sales_summary;")

In [96]:
cursor.execute("""CREATE TABLE new_vendor_sales_summary(
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description vARCHAR(100),
PurchasePrice DECIMAL(20, 2),
ActualPrice DECIMAL(20, 2),
Volume Float,
TotalPurchaseQantity INT,
TotalPurchaseDollars DECIMAL(20, 2),
TotalSalesQuantity DECIMAL(20, 2),
TotalSalesPrice DECIMAL(20, 2),
TotalDollars DECIMAL(20, 2),
TotalExciseTax DECIMAL(20, 2),
FreightCost DECIMAL(20, 2),
GrossProfit DECIMAL(20, 2),
ProfitMargin DECIMAL(20, 2),
StockTurnover DECIMAL(20, 2),
SalesToPurchaseRatio DECIMAL(20, 2),
PRIMARY KEY(VendorNumber,Brand)
);
""")

In [97]:
pd.read_sql("select * from new_vendor_sales_summary", engine)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesPrice, TotalDollars, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio]
Index: []

In [98]:

df.to_sql('new_vendor_sales_summary', engine, if_exists = 'replace', index = False)

-1

In [99]:
df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
9994,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.30,0.98,1.34
4481,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.06,0.98,1.27
6249,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.68,1.00,1.33
6428,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.95,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.93,27.14,0.99,1.37
2952,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023205.99,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.63,28.41,0.98,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5.0,10.96,15.95,0.55,27100.41,13.31,83.45,2.50,6.04
6843,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134.0,1.47,65.66,7.04,50293.62,63.32,96.44,22.33,28.06
3281,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2.0,0.99,1.98,0.10,14069.87,0.50,25.25,1.00,1.34
4999,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72.0,77.61,143.28,15.12,257032.07,141.81,98.97,72.00,97.47
8306,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86.0,33.66,85.14,4.46,38994.78,84.43,99.17,86.00,119.92

In [101]:
df.to_csv("C:/Users/Lenovo/Desktop/Vendor performance data/vendor_sales_summary.csv", index=False)